@model ENAREK.Models.GetENAREKModelTest
@{
    ViewBag.Title = "GetENAREKTest";
    //   Model.ENAREK = " Πατήστε Αναζήτηση για να το βρείτε ... ";
}



<div class="Minedu-paragraph Minedu-margin-top Minedu-margin-bottom">
    Συμπληρώστε τα παρακάτω στοιχεία και επιλέξτε <b><<Αναζήτηση ΕΝΑΡΕΚ>></Αναζήτηση></b> <br />
    Τα στοιχεία που συμπληρώνονται <b> δεν αποθηκεύονται στο σύστημα και δεν εκτελείται κάποια περεταίρω επεξεργασία σε αυτά. </b> <br />
    Χρησιμοποιούνται αποκλειστικά για την επαλήθευση του σωστού ΑΜΚΑ αναζήτησης. <br />
    <b><font color="red">Αυτή είναι test page για την δοκιμή του Service </font></b>
</div>
<hr />



@using (Html.BeginForm("GetENAREKTest", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <!--    <div class="alert alert-danger">
            @Html.DisplayFor(model => model.Error)
            <br />
        </div>   -->

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">

        <div class="col-md-2 Minedu-wrap">
            @Html.LabelFor(model => model.AMKA, new { @class = " control-label" })
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.AMKA, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.AMKA, "", new { @class = "text-danger Minedu-margin-bottom" })
        </div>

        <!--    <div class="col-md-1" >.</div><div class="col-md-5">.</div> -->
        <div class="col-md-2 Minedu-wrap">
            <div class="Minedu-wrap">
                @Html.LabelFor(model => model.SurName, new { @class = " control-label" })
            </div>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.SurName, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger Minedu-margin-bottom" })
        </div>
        <div class="col-md-2 Minedu-wrap">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger Minedu-margin-bottom" })
        </div>

        <div class="col-md-2 Minedu-wrap">

            @Html.LabelFor(model => model.FatherName, new { @class = "control-label" })

        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger Minedu-margin-bottom" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.MotherName, new { @class = "control-label" })
        </div>
        <div class="col-md-4">

            @Html.TextBoxFor(model => model.MotherName, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger Minedu-margin-bottom" })

        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.BirthDate, new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control Minedu-date-IE  ", placeholder = "Date", type = "date" })
            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger Minedu-margin-bottom" })
        </div>

        <div class="col-mod-12 offset-md-0 Minedu-margin-bottom">
            <input type="submit" class="btn btn-primary Minedu-margin-bottom" value="Αναζήτηση ΕΝΑΡΕΚ" />
        </div>


        @if (@ViewBag.Message.Trim().Contains("ΠΡΟΒΛΗΜΑ") || @ViewBag.Message.Trim().Contains("ΠΡΟΣΟΧΗ"))
        {

            <div class="col-md-12 alert alert-danger">
                @Html.Raw(@ViewBag.Message) ;
            </div>
        }
        else if (@ViewBag.Message.Contains("<<Αναζήτηση"))
        {
            <div class="col-md-12 alert">
                <h4> Το ΕΝΑΡΕΚ   είναι:  </h4> @Html.Raw(@ViewBag.Message)
            </div>
        }

        else
        {
            <div class="col-md-12 alert ale">
                <h4> Το ΕΝΑΡΕΚ είναι:   @Html.Raw(@ViewBag.Message)</h4> ;
            </div>
        }

    </div>

}


<script>
                        // placeholder for browsers that do not support Date field
                        document.getElementById("BirthDate").setAttribute("placeholder", 'MM/dd/yyyy');
</script>












