@model ENAREK.Models.GetENAREKModel
@{
    ViewBag.Title = "GetENAREK";
    
}



<h2>GetENAREK</h2>

<div class="jumbotron">
    <h1>Ερώτηση ΕΝΑΡΕΚ</h1>
    <h2> @ViewBag.Message</h2>
    <h2> --   </h2>
    <p class="lead">Σε αυτή!! την σελίδα μπορείτε να βρείτε το ΕΝΑΡΕΚ σας, αναζητώντας το βάσει ΑΜΚΑ</p>
    Προχωρήστε

</div>

<style>
.Minedu-margin-bottom {
    display: inline-block;
margin-bottom:15px;}
    

.Minedu-date-IE  { width:70%}
    </style>

<div class="container">
    @using (Html.BeginForm("GetENAREKFull", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="alert alert-danger">
            @Html.DisplayFor(model => model.Error)
            <br />
        </div>

        <h4>Add a phone number3</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-1" >
                @Html.LabelFor(model => model.AMKA, new { @class = " control-label" })
            </div>
            <div class="col-md-11">
                @Html.TextBoxFor(model => model.AMKA, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.AMKA, "", new { @class = "text-danger Minedu-margin-bottom" })
            </div>
            
        <!--    <div class="col-md-1" >.</div><div class="col-md-5">.</div> --> 
            <div class="col-md-1"> 

                @Html.LabelFor(model => model.SurName, new { @class = " control-label" })
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.SurName, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger Minedu-margin-bottom" })
            </div> 
            <div class="col-md-1">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
            </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger Minedu-margin-bottom" })
                </div>


            <div class="col-md-1">

                @Html.LabelFor(model => model.FatherName, new { @class = "control-label" })
            
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger Minedu-margin-bottom" })
            </div>
            <div class="col-md-1">
                @Html.LabelFor(model => model.MotherName, new { @class = "control-label" })
            </div>
            <div class="col-md-5">
                
                @Html.TextBoxFor(model => model.MotherName, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger Minedu-margin-bottom" })
                
            </div>
    <div class="col-md-1">, 
                    @Html.LabelFor(model => model.BirthDate, new { @class = "control-label" })
                </div>
                <div class="col-md-11">
                    @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control Minedu-date-IE  ", placeholder = "Date",  type = "date" })
                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                </div>
             
                <hr />
                <div class="col-md-2">
                    <div class="contol-label">
                        <b> Το ΕΝΑΡΕΚ σας είναι: </b>
                    </div>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ENAREK, new { @class = "form-control" })
                </div>

            </div>

            

            <span> aaaa </span>
            <div><hr /></div>
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" class="btn btn-danger Minedu-margin-bottom" value="Submit" />
            </div>

    }

    <script>
        // placeholder for browsers that do not support Date field 
        document.getElementById("BirthDate").setAttribute("placeholder", 'MM/dd/yyyy');
    </script>

    </div>







